

// Main Color Themes

$main-green-color:#5FB8A9;
$second-blue-color:#85CDDD;
$third-darkblue-color:#33617A;
$fourth-gray-color:#666666;
$fifth-white-color:#F6F6F6;
$gradient: linear-gradient(90deg, #5FB8A9 0%, #85CDDD 100%);


//Typgraphy 


