

// Main Color Themes

$main-green-color:#5FB8A9;
$second-blue-color:#85CDDD;
$third-darkblue-color:#33617A;
$fourth-gray-color:#666666;
$fifth-white-color:#F6F6F6;
$gradient: linear-gradient(90deg, #5FB8A9 0%, #85CDDD 100%);
$background-website-colour: #F5F5F5;


//Typgraphy 



$nav-titles: clamp(0.6875rem, 0.5999rem + 0.3738vw, 1.0625rem);
$h1: clamp(3rem, 2.7664rem + 0.9969vw, 4rem);
$h3: clamp(1.125rem, 0.8621rem + 1.1215vw, 2.25rem);
$h4: clamp(1rem, 0.8014rem + 0.8474vw, 1.65rem);

$paragraph:clamp(0.75rem, 0.6624rem + 0.3738vw, 1.125rem);




// CARROUSSEL STYLES


$primary-bg-slider: #33617A;
$accent: #649687;
$white: #ffffff;


//Additional Styles 


